body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 2rem auto;
    width: 50%;
}

th, td {
    padding: 8px 50px 8px 10px;
}

tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.nameTable th {
    background-color: #FFB740;
    color: #FFF;
}

.nameTable tr:last-child {
    border-bottom: 3px solid #FFB740;
}

.productTable th {
    background-color: #64C9CF;
    color: #FFF;
}

.productTable tr:last-child {
    border-bottom: 3px solid #64C9CF;
}